<div class="container">

    <div class="login-container">

        <div class="login-wrap">

            <div class="login-pic"
                 data-tilt>
            </div>

            <form [formGroup]="checkoutForm"
                  (ngSubmit)="onSubmit(checkoutForm.value)"
                  class="horizontally-centered">

                <p class="title">Login utente</p>

                <mat-form-field class="input-label">
                    <mat-label>Username</mat-label>
                    <input matInput placeholder="Inserire il nome utente" formControlName="User">
                </mat-form-field>

                <mat-form-field class="input-label">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                    <button mat-icon-button matSuffix (click)="hide = !hide">
                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

            </form>

        </div>

    </div>

</div>
