<mat-toolbar class="toolbar">

    <mat-toolbar-row class="toolbar-row">

        <div *ngIf="hasSidenav" class="left-align" [@toggleShowPathAnimation]="toggleShowPathAnimation">
            <button mat-icon-button matSuffix (click)="toggleShowPath()" type="button">
                <mat-icon>{{'keyboard_arrow_right'}}</mat-icon>
            </button>
        </div>

        <div class="right-align">
            <button mat-icon-button matSuffix (click)="logout()" type="button">
                <mat-icon>{{'logout'}}</mat-icon>
            </button>
        </div>

    </mat-toolbar-row>

</mat-toolbar>
