<mat-toolbar class="toolbar">

    <mat-toolbar-row class="toolbar-row">

        <div class="left-toolbar">

            <div class="left-component" *ngIf="hasSidenav" [@toggleShowPathAnimation]="toggleShowPathAnimation">
                <button mat-icon-button matSuffix (click)="toggleShowPath()" type="button">
                    <mat-icon>{{'keyboard_arrow_right'}}</mat-icon>
                </button>
            </div>

        </div>

        <div class="center-toolbar">

        </div>

        <div class="right-toolbar">

            <div *ngIf="isDashboard()" class="text" style="margin: .6vh 1vw 0 auto">

                <p>{{username()}}</p>

            </div>

            <button mat-icon-button matSuffix
                    (click)="logout()" type="button"
                    matTooltip="Logout"
                    [matTooltipPosition]="position.value"
                    style="margin: 0 1px 0 0"
            >
                <mat-icon>{{'logout'}}</mat-icon>
            </button>

        </div>

    </mat-toolbar-row>

</mat-toolbar>
