@import "variables"

.toolbar
    background-color: $toolbarBgColor
    color: $toolbarTextColor
    height: 6.4vh
    width: 100%

.benvenuto-text
    margin: 0
    font-size: 20pt

.benvenuto-div
    margin: 0 auto
