@import "variables"

.toolbar
    background-color: $toolbarBgColor
    color: $toolbarTextColor
    height: $toolbarHeight
    width: 100%

.benvenuto-text
    margin: 0
    font-size: 20pt

.benvenuto-div
    margin: 0 0 0 auto
    padding: 0.57vh 0 0 0

.logo-pic
    width: $smallLogoSize
    height: $smallLogoSize
    background-size: $smallLogoSize
    background-image: $logo

.right-toolbar
    width: 100%
    display: flex

.left-align
    margin: 0 auto 0 1px

.right-align
    margin: 0 0 0 1vw
