//Global
$font: Arial, Helvetica, sans-serif

.text
    font-family: $font

//Login
$logo: url('../assets/img/NewGestionale3000.svg.png')

$loginBg: url('../assets/img/Bg1.jpg')

$loginButtonBackgroundColor: rgb(3, 36, 152)
$loginButtonTextColor: white

$borderRadius: 10px

$lineHeight: 2.77vh

//Toolbar
$toolbarBgColor: rgb(50, 89, 221)
$toolbarTextColor: white
